@import url(https://db.onlinewebfonts.com/c/bf32b50f68681e20f23ab1f505b82cdd?family=mr_KindlyJasmineG);
@font-face {
    font-family: "mr_KindlyJasmineG";
    src: url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.eot");
    src: url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf32b50f68681e20f23ab1f505b82cdd.svg#mr_KindlyJasmineG")format("svg");
}